<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <p>10 Millwood St. #6</p>
                        <p>Mill Valley, CA 94941</p>
                    </div>
                    <div class="col-md-4">
                        <p><a href="mailto:lisatangalos@gmail.com">lisatangalos@gmail.com</a></p>
                        <p><a href="tel:+14158272465">+1 415 827 2465</a></p>
                    </div>
                    <div class="col-md-4">
                        <div class="second-nav">
                            <p><a href="/">HOME</a></p>
                            <p><a href="/services">SERVICES</a></p>
                            <p><a href="/about">ABOUT</a></p>
                            <p><a href="/contact">CONTACT</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">© Lisa Tangalos, 2018</p>
            </div>
        </div>
    </div>
</footer>
