<div class="container">
    <div class="row">
        <div class="width-100">
            <div class="page-header about-header">
                <div class="col-md-12">
                <h3 class="page-title">About Me</h3>
            </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
                <h4 class="large-title">About Me</h4>
                <hr class="about-line">
                <!-- <p class="about-main-description">As an accomplished professional who has been an integral part of positive therapeutic outcomes for adolescents, teens, adults and families, I have a good sense of how to tailor my approach to fit the unique complexities of each of my clients.</p> -->
                <p class="p-content">As an accomplished professional who has been an integral part of positive therapeutic outcomes for adolescents, teens, adults and families, I have a good sense of how to tailor my approach to fit the unique complexities of each of my clients.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="max-width: 500px; padding-top: 30px">
            <img class="about-picture" src="../images/profile.jpg" alt"Lisa Tangalos Professional Picture">
        </div>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <h4 class="large-title">Education</h4>
                <hr class="about-line">
                <div class="education-list">
                <p><span class="year">2012</span>Dual Multiple Subject/Education Specialist Credential</p>
                <p><span class="year">2012</span>Autism Teaching Certification</p>
                <p><span class="year">2009</span>MSW Emphasis Individuals Groups and Families</p>
                <p><span class="year">2009</span>PPSC, Pupil, Personnel Counseling Credential</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <h4 class="large-title">Training</h4>
                <hr class="about-line">
                <div class="training-list">
                    <p><span class="year">2016</span>ADD Crusher – Alan Brown</p>
                    <p><span class="year">2015</span>ADHD and Mindfulness – Susan Smalley</p>
                    <p><span class="year">2015</span>Mindfulness and Education/Escalen Institute - Daniel Rechtschaffen</p>
                    <p><span class="year">2014</span>ADHD as a Reward Deficiency Syndrome – Russell Ramsay PhD</p>
                    <p><span class="year">2014</span>Cognitive Behavioral Therapy – TEAM Therapy, David Burns, MD</p>
                    <p><span class="year">2014</span>ADHD and Medication - Mark Wolraich, MD</p>
                    <p><span class="year">2013</span>Michelle Garcia Winner – Social Thinking and Executive Functioning</p>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <h4 class="large-title">Professional Membership</h4>
                <hr class="about-line">
                <div class="membership-list">
                    <p>NASW, National Association of Social Workers</p>
                    <p>CHADD, Children and Adults with Attention Deficit Disorder</p>
                    <p>CAMFT, California Association of Marriage and Family Therapists</p>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align: center; padding-top: 30px">
            <img class="about-picture" style="max-width: 500px" src="../images/meditating.jpg" alt"Lisa Tangalos Medidating">
        </div>
    </div>
</div>
