<div class="container">
    <div class="row">
        <div class="width-100">
            <div class="page-header contact-header">
                <div class="col-md-12">
                    <h3 class="page-title">Contact Me</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-2">
            <p class="medium-title">How can I help you?</p>
            <form action="https://formspree.io/pariscdo@gmail.com" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-field" for="first name">First Name*</label>
                        <input class="field-control" type="text" name="First Name">
                    </div>
                    <div class="col-md-6">
                        <label class="form-field" for="first name">Last Name*</label>
                        <input class="field-control" type="text" name="Last Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-field" for="email">Email *</label>
                        <input class="field-control" type="email" name="From">
                    </div>
                    <div class="col-md-6">
                        <label class="form-field" for="phone">Phone *</label>
                        <input class="field-control" type="text" name="Phone">
                    </div>
                </div>

                <label class="form-field" for="message">Message</label>
                <textarea class="field-control" name="Message"></textarea>

                <input class="submit-btn" type="submit" value="Send">
            </form>
        </div>
        <div class="col-md-4">
            <div class="contact-info">
                <p class="small-title">Call Me</p>
                <p class="p-content"><a href="tel:+14158272465">+1 415 827 2465</a></p>
                <p class="small-title">Email Me</p>
                <p class="p-content"><a href="mailto:lisatangalos@gmail.com">lisatangalos@gmail.com</a></p>
                <p class="small-title">Address</p>
                <p class="p-content">10 Millwood St. #6<br>Mill Valley, CA 94941</p>
            </div>
        </div>

    </div>
</div>
