<div class="container">
    <div class="row">
        <div class="width-100">
            <div class="page-header index-header">
                <div class="col-md-12">
                    <h2 class="quote">“Sometimes you don’t realize your own strength until you come face to face with your greatest weakness.”</h2>
                    <p class="quote-author">Susan Gale</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="p-content">I believe that emphasizing the individual’s strengths make for a powerful tool for positive change. Having over 18 years experience working in varying school capacities, including therapist, teacher, parent coach, athletic director and parent volunteer, I am well versed in understanding how teens can struggle in their school settings and the rigors of parenting them. My goal is to cultivate resiliency and the maintenance of emotional wellness in the individuals and the families I serve.</p>
        </div>
    </div>
</div>
