<div class="container">
    <div class="row">
        <div class="width-100">
            <div class="page-header resources-header">
                <div class="col-md-12">
                <h3 class="page-title">Resources</h3>
            </div>
            </div>
        </div>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-12 col-sm-12">
                <h4 class="large-title">Addiction and Recovery</h4>
                <hr class="large-title-line">
                <ul class="resources-list">
                    <li><a href="https://www.alcoholics-anonymous.org/">Alcoholics Anonymous</a></li>
                    <li><a href="https://netaddiction.com/">Center for On-Line Addiction</a></li>
                    <li><a href="https://www.habitsmart.com/">Habit Smart</a></li>
                    <li><a href="https://www.well.com/user/woa/">Web of Addictions</a></li>
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
                <h4 class="large-title">Anxiety Disorders</h4>
                <hr class="large-title-line">
                <ul class="resources-list">
                    <li><a href="https://www.apa.org/pubinfo/panic.html">Answers to Your Questions About Panic Disorder </a></li>
                    <li><a href="https://www.ncptsd.va.gov/">National Center for PTSD</a></li>
                    <li><a href="https://www.miminc.org/aboutocic.asp">Obsessive Compulsive Information Center</a></li>
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
                <h4 class="large-title">Associations & Institutes</h4>
                <hr class="large-title-line">
                <ul class="resources-list">
                    <li><a href="https://www.aacap.org/">American Academy of Child & Adolescent Psychiatry</a></li>
                    <li><a href="https://www.aamft.org/">American Association for Marriage and Family Therapy</a></li>
                    <li><a href="https://www.counseling.org/">American Counseling Association</a></li>
                    <li><a href="https://mentalhealth.samhsa.gov/cmhs/">Center for Mental Health Services</a></li>
                    <li><a href="https://www.nimh.nih.gov/">National Institute of Mental Health</a></li>
                    <li><a href="https://www.nmha.org/">National Mental Health Association</a></li>
                    <li><a href="https://www.samhsa.gov/">Substance Abuse and Mental Health Services Administration</a></li>
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
                <h4 class="large-title">Attention-Deficit Hyperactivity Disorder (ADHD)</h4>
                <hr class="large-title-line">
                <ul class="resources-list">
                    <li><a href="https://www.additudemag.com">ADDitude</a></li>
                    <li><a href="https://www.nimh.nih.gov/health/topics/attention-deficit-hyperactivity-disorder-adhd/index.shtml">Attention-Deficit Hyperactivity Disorder, NIH</a></li>
                    <li><a href="https://www.add.org/">ADDA - Attention Deficit Disorder Association</a></li>
                    <li><a href="http://www.chadd.org/">CHADD</a></li>
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
                <h4 class="large-title">Child Abuse and Domestic Violence</h4>
                <hr class="large-title-line">
                <ul class="resources-list">
                    <li><a href="https://www.childhelp.org/">Childhelp USA®</a></li>
                    <li><a href="https://www.apa.org/topics/trauma/memories.aspx">Questions and Answers about Memories of Childhood Abuse</a></li>
                    <li><a href="https://www.ndvh.org/">The National Domestic Violence Hotline Website</a></li>
                    <li><a href="https://mentalhealth.samhsa.gov/links/default2.asp?ID=Women,+Violence+and+Trauma&Topic=Women,+Violence+and+Trauma">Women, Violence and Trauma</a></li>
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
                <h4 class="large-title">Depression</h4>
                <hr class="large-title-line">
                <ul class="resources-list">
                    <li><a href="https://www.apa.org/topics/depress/recover.aspx">Depression and How Therapy Can Help</a></li>
                    <li><a href="https://depression.realage.com/">Depression Test, Symptoms of Depression, Signs of Depression</a></li>
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
                <h4 class="large-title">Developmental Disorders</h4>
                <hr class="large-title-line">
                <ul class="resources-list">
                    <li><a href="https://www.righthealth.com/health/asperger%E2%80%99s%20disorder-s">Asperger's Disorder </a></li>
                    <li><a href="https://spinwarp.ucsd.edu/NeuroWeb/">NeuroWeb</a></li>
                    <li><a href="https://www.med.yale.edu/chldstdy/autism/">Pervasive Developmental Disorders</a></li>
                    <li><a href="https://ldaamerica.org/resources">Learning Disability Association of America (LDA)</a></li>
                    <li><a href="https://www.ncld.org/">National Center for Learning Disability</a></li>
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
                <h4 class="large-title">Journals & Magazines</h4>
                <hr class="large-title-line">
                <ul class="resources-list">
                    <li><a href="https://www.addwarehouse.com/shopsite_sc/store/html/product311.html">ADHD Report</a></li>
                    <li><a href="https://www.additudemag.com">ADDitude</a></li>
                    <li><a href="https://www.tandf.co.uk/journals/titles/10615806.html">Anxiety, Stress and Coping</a></li>
                    <li><a href="https://www.sagepub.com/journalsProdDesc.nav?prodId=Journal200822">Autism</a></li>
                    <li><a href="https://www3.interscience.wiley.com/cgi-bin/jhome/6124">Dyslexia</a></li>
                    <li><a href="https://www.tandf.co.uk/journals/titles/03004430.html">Early Child Development and Care</a></li>
                    <li><a href="https://www.springerlink.com/content/?k=journal+of+happiness">Journal of Happiness Studies</a></li>
                    <li><a href="https://www.tandf.co.uk/journals/titles/13607863.asp">Journal of Mental Health and Aging</a></li>
                    <li><a href="https://www.tandf.co.uk/journals/pp/01690965.html">Language and Cognitive Processes</a></li>
                    <li><a href="https://www.haworthpress.com/store/product.asp?sku=J457&sid=UF1W2ENR4X0T9PNQDRQWWJCBFTSF7WJ0&">Loss, Grief & Care</a></li>
                    <li><a href="https://www.informaworld.com/smpp/quicksearch~db=all?quickterm=parenting&searchtype=&x=0&y=0">Parenting</a></li>
                    <li><a href="https://www.blackwellpublishing.com/journal.asp?ref=1350-4126">Personal Relationships</a></li>
                    <li><a href="https://www.elsevier.com/inca/publications/store/6/0/3/">Personality and Individual Differences</a></li>
                    <li><a href="https://www.psychologytoday.com/">Psychology Today</a></li>
                    <li><a href="https://www3.interscience.wiley.com/cgi-bin/jhome/76509996">Stress and Health</a></li>
                    <li><a href="https://www.psychoanalysisarena.com/journals/studies-in-gender-and-sexuality-1524-0657">Studies in Gender and Sexuality</a></li>
                    <li><a href="https://www.springerlink.com/content/?k=substance+abuse">Substance Abuse</a></li>
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
                <h4 class="large-title">Suicide Awareness and Hotlines</h4>
                <hr class="large-title-line">
                <ul class="resources-list">
                    <li><a href="https://mentalhealth.samhsa.gov/links/default2.asp?ID=Suicide&Topic=Suicide">SAMHSA's Suicide</a></li>
                    <li><a href="https://www.save.org/">Suicide Awareness Voices of Education</a></li>
                    <li><a href="https://www.metanoia.org/suicide/">Suicide: Read This First</a></li>
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
                <h4 class="large-title">Additional Mental Health Care & Counseling Resources</h4>
                <hr class="large-title-line">
                <ul class="resources-list">
                    <li><a href="https://mentalhealth.samhsa.gov/links/default2.asp?ID=Disaster%2FTrauma&Topic=Disaster%2FTrauma">Disaster/Trauma</a></li>
                    <li><a href="https://mentalhealth.samhsa.gov/links/default2.asp?ID=HIV%2FAIDS&Topic=HIV%2FAIDS">HIV/AIDS</a></li>
                    <li><a href="https://www.menopause.realage.com/">Signs of Menopause, Symptoms of Menopause</a></li>
                </ul>
        </div>
    </div>

</div>
