<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <nav id="spy">
                <ul class="sidebar-nav nav">
                    <li class="sidebar-brand">
                        <a href="#home"><span class="fa fa-home solo">Home</span></a>
                    </li>
                    <li>
                        <a href="#anch1" data-scroll>
                            <span class="fa fa-anchor solo">Anchor 1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#anch2" data-scroll>
                            <span class="fa fa-anchor solo">Students with Learning Challenges</span>
                        </a>
                    </li>
                    <li>
                        <a href="#anch3" data-scroll>
                            <span class="fa fa-anchor solo">Anchor 3</span>
                        </a>
                    </li>
                    <li>
                        <a href="#anch4" data-scroll>
                            <span class="fa fa-anchor solo">Anchor 4</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
                <h1 id="home">
                    <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
                        <i class="fa fa-bars"></i>
                    </a>
                    Sidebar Navigation Template
                </h1>
            </div>

            <div class="page-content inset" data-spy="scroll" data-target="#spy">
                <div class="row">

                        <div class="jumbotron text-center" >
                            <h1>Hello Beautiful!</h1>
                            <p>This is a sidebar navigation responsive template built off of Bootstrap 3.0 and simple sidebar template. It includes anchors, scroll spy, smooth scroll, and Awesome icon fonts.</p>
                            <p><a class="btn btn-default">Click On Me!</a>
                            <a class="btn btn-info">Tweet Me!</a></p>
                        </div>

                </div>
                <div class="row">
                    <div class="col-md-12 well">
                        <legend id="anch1">Anchor 1</legend>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies, metus eget fringilla fermentum, sem justo pulvinar tellus, ac varius neque ante eget mi. Donec cursus nibh ultrices vulputate aliquet. Morbi nulla enim, molestie eu ullamcorper quis, placerat a mauris. Proin vel magna ullamcorper, vulputate leo eu, egestas odio. Vivamus erat leo, egestas in euismod sed, fermentum nec magna. Nunc nisi enim, euismod a tellus sit amet, fermentum adipiscing ipsum. Fusce rhoncus diam ac neque aliquam convallis. Etiam malesuada, nibh id rutrum euismod, enim augue gravida dolor, at vulputate felis mi at magna. Nulla luctus, libero eget luctus gravida, sapien enim varius massa, adipiscing aliquet lacus mi eu eros. Duis pretium laoreet ullamcorper. Aenean in mauris nec libero tincidunt pharetra non et dui. Sed tortor turpis, mollis et tempus eu, auctor laoreet neque. Etiam eu tortor rutrum, rutrum mauris sit amet, hendrerit augue. Sed ut tincidunt nisi. Nam consectetur velit ac pharetra venenatis.</p>
                        <p>Donec pellentesque id quam vel iaculis. Phasellus commodo tempor metus, eget sollicitudin odio ultricies id. Proin sed ipsum quis turpis suscipit luctus vitae id urna. Fusce et rhoncus quam. Etiam vel justo ligula. Nullam euismod lacinia risus a pulvinar. Pellentesque sit amet nisl eget ante vulputate feugiat. Suspendisse venenatis magna nunc, mollis facilisis neque condimentum ac. Vivamus non semper dui. Aenean sed eleifend dui. Vivamus a massa aliquam nibh consectetur luctus id at ligula. Nunc ipsum dolor, mollis at sem et, auctor rhoncus ipsum. Nulla faucibus venenatis est sit amet facilisis. In vestibulum nisi at tellus egestas, in pharetra enim fringilla. In ac erat non magna accumsan aliquam.</p>
                    </div>
                    <div class="col-md-12 well">
                        <legend id="anch2">Anchor 2</legend>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies, metus eget fringilla fermentum, sem justo pulvinar tellus, ac varius neque ante eget mi. Donec cursus nibh ultrices vulputate aliquet. Morbi nulla enim, molestie eu ullamcorper quis, placerat a mauris. Proin vel magna ullamcorper, vulputate leo eu, egestas odio. Vivamus erat leo, egestas in euismod sed, fermentum nec magna. Nunc nisi enim, euismod a tellus sit amet, fermentum adipiscing ipsum. Fusce rhoncus diam ac neque aliquam convallis. Etiam malesuada, nibh id rutrum euismod, enim augue gravida dolor, at vulputate felis mi at magna. Nulla luctus, libero eget luctus gravida, sapien enim varius massa, adipiscing aliquet lacus mi eu eros. Duis pretium laoreet ullamcorper. Aenean in mauris nec libero tincidunt pharetra non et dui. Sed tortor turpis, mollis et tempus eu, auctor laoreet neque. Etiam eu tortor rutrum, rutrum mauris sit amet, hendrerit augue. Sed ut tincidunt nisi. Nam consectetur velit ac pharetra venenatis.</p>
                        <p>Donec pellentesque id quam vel iaculis. Phasellus commodo tempor metus, eget sollicitudin odio ultricies id. Proin sed ipsum quis turpis suscipit luctus vitae id urna. Fusce et rhoncus quam. Etiam vel justo ligula. Nullam euismod lacinia risus a pulvinar. Pellentesque sit amet nisl eget ante vulputate feugiat. Suspendisse venenatis magna nunc, mollis facilisis neque condimentum ac. Vivamus non semper dui. Aenean sed eleifend dui. Vivamus a massa aliquam nibh consectetur luctus id at ligula. Nunc ipsum dolor, mollis at sem et, auctor rhoncus ipsum. Nulla faucibus venenatis est sit amet facilisis. In vestibulum nisi at tellus egestas, in pharetra enim fringilla. In ac erat non magna accumsan aliquam.</p>
                    </div>
                    <div class="col-md-12 well">
                        <legend id="anch3">Anchor 3</legend>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies, metus eget fringilla fermentum, sem justo pulvinar tellus, ac varius neque ante eget mi. Donec cursus nibh ultrices vulputate aliquet. Morbi nulla enim, molestie eu ullamcorper quis, placerat a mauris. Proin vel magna ullamcorper, vulputate leo eu, egestas odio. Vivamus erat leo, egestas in euismod sed, fermentum nec magna. Nunc nisi enim, euismod a tellus sit amet, fermentum adipiscing ipsum. Fusce rhoncus diam ac neque aliquam convallis. Etiam malesuada, nibh id rutrum euismod, enim augue gravida dolor, at vulputate felis mi at magna. Nulla luctus, libero eget luctus gravida, sapien enim varius massa, adipiscing aliquet lacus mi eu eros. Duis pretium laoreet ullamcorper. Aenean in mauris nec libero tincidunt pharetra non et dui. Sed tortor turpis, mollis et tempus eu, auctor laoreet neque. Etiam eu tortor rutrum, rutrum mauris sit amet, hendrerit augue. Sed ut tincidunt nisi. Nam consectetur velit ac pharetra venenatis.</p>
                        <p>Donec pellentesque id quam vel iaculis. Phasellus commodo tempor metus, eget sollicitudin odio ultricies id. Proin sed ipsum quis turpis suscipit luctus vitae id urna. Fusce et rhoncus quam. Etiam vel justo ligula. Nullam euismod lacinia risus a pulvinar. Pellentesque sit amet nisl eget ante vulputate feugiat. Suspendisse venenatis magna nunc, mollis facilisis neque condimentum ac. Vivamus non semper dui. Aenean sed eleifend dui. Vivamus a massa aliquam nibh consectetur luctus id at ligula. Nunc ipsum dolor, mollis at sem et, auctor rhoncus ipsum. Nulla faucibus venenatis est sit amet facilisis. In vestibulum nisi at tellus egestas, in pharetra enim fringilla. In ac erat non magna accumsan aliquam.</p>
                    </div>
                    <div class="col-md-12 well">
                        <legend id="anch4">Anchor 4</legend>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies, metus eget fringilla fermentum, sem justo pulvinar tellus, ac varius neque ante eget mi. Donec cursus nibh ultrices vulputate aliquet. Morbi nulla enim, molestie eu ullamcorper quis, placerat a mauris. Proin vel magna ullamcorper, vulputate leo eu, egestas odio. Vivamus erat leo, egestas in euismod sed, fermentum nec magna. Nunc nisi enim, euismod a tellus sit amet, fermentum adipiscing ipsum. Fusce rhoncus diam ac neque aliquam convallis. Etiam malesuada, nibh id rutrum euismod, enim augue gravida dolor, at vulputate felis mi at magna. Nulla luctus, libero eget luctus gravida, sapien enim varius massa, adipiscing aliquet lacus mi eu eros. Duis pretium laoreet ullamcorper. Aenean in mauris nec libero tincidunt pharetra non et dui. Sed tortor turpis, mollis et tempus eu, auctor laoreet neque. Etiam eu tortor rutrum, rutrum mauris sit amet, hendrerit augue. Sed ut tincidunt nisi. Nam consectetur velit ac pharetra venenatis.</p>
                        <p>Donec pellentesque id quam vel iaculis. Phasellus commodo tempor metus, eget sollicitudin odio ultricies id. Proin sed ipsum quis turpis suscipit luctus vitae id urna. Fusce et rhoncus quam. Etiam vel justo ligula. Nullam euismod lacinia risus a pulvinar. Pellentesque sit amet nisl eget ante vulputate feugiat. Suspendisse venenatis magna nunc, mollis facilisis neque condimentum ac. Vivamus non semper dui. Aenean sed eleifend dui. Vivamus a massa aliquam nibh consectetur luctus id at ligula. Nunc ipsum dolor, mollis at sem et, auctor rhoncus ipsum. Nulla faucibus venenatis est sit amet facilisis. In vestibulum nisi at tellus egestas, in pharetra enim fringilla. In ac erat non magna accumsan aliquam.</p>
                    </div>
                </div>

                <div class="navbar navbar-default navbar-static-bottom">
                    <p class="navbar-text pull-left">
                        Built by <a href="http://mvnguyen.com" target="_blank">Michael V Nguyen
                    </p>
                </div>
            </div>

        </div>

    </div>





<div class="container header">
    <div class="background code">
        <div class="text-width">
            <h1 class="page-title">Services</h1>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container services">
    <div class="services-sidebar">
        <ul>
            <li><a class="js-scroll-trigger" href="#adolescents">Adolescents</a></li>
            <li><a class="js-scroll-trigger" href="#students">Students with Learning Challenges</a></li>
            <li><a class="js-scroll-trigger" href="#adults">Adults</a></li>
            <li><a class="js-scroll-trigger" href="#parent-coaching">Parent Coaching</a></li>
            <li><a class="js-scroll-trigger" href="#family-therapy">Family Therapy</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="text-width">
            <p class="sub-title" id="adolescents">Adolescents</p>
            <hr class="sub-title-accent">
            <p>As a professional who has worked with adolescents for over 17 years in a variety of capacities such as therapist, teacher, athletic director and one-on-one tutor, I am cognizant of the challenges our young clients face today. In my practice,
                I create a safe space for adolescents to enjoy our sessions. As all my client’s needs are different, so are my treatment modalities. Resiliency is fostered in youth when they use their unique strengths and tools to deal with adversity.
                I often use a strengths-based approach where the client-therapist relationship is held in the highest regard. The young clients I work with quickly understand that by virtue of my work experience that I am knowledgeable about their world
                and that without judgement I understand their issues. This opens the door for honest discussions about a myriad of teenage concerns including anxiety, depression, sexual-orientation, peers, anger, friendships, situational hardships, technology
                and family dynamics. Through my understanding, I can guide them to discuss their feelings and develop strategies to effectively navigate their world.
            </p>
            <p class="sub-title" id="students">Students with Learning Challenges</p>
            <hr class="sub-title-accent">
            <p>Having over eight years experience teaching and counseling students with learning disabilities, including ADHD, spectrum and processing disorders, along with holding an Education Specialist Credential, I am able to understand the complications
                students with learning challenges face social-emotionally and in the classroom. Using psychoeducation as part of my treatment young clients begin to cultivate advocacy skills, learning and emotional coping strategies which ultimately boosts
                their self-esteem. The students I treat receive extensive work on perspective taking which has proven useful their classroom’s and when negotiating peer relationships. I have been a part of hundreds of interdisciplinary teams that have
                created and implemented support, including IEP’s and behavior plans, leading to the success of the adolescents I work with. My priority is protecting students interests and improving their emotional intelligence enabling them to successfully
                confront and handle the challenges they encounter day-to-day.
            </p>
            <p class="sub-title" id="adults">Adults</p>
            <hr class="sub-title-accent">
            <p>Whether my clients are parents facing challenges with their adolescents, experiencing anxiety or depression, undergoing life changes such as divorce, career challenges, issues around aging, disease or disabilities, using an emotionally-focused,
                strengths-based approach help clients identify fresh insights and understanding about them and their situations. I assist my clients in using their strengths as a means to cope and gain practical skills and I tailor my treatment plan for
                each individual client to advance their healing process. I have and eclectic background in CBT (Cognitive Behavioral Therapy), DBT (Dialectic Behavior Therapy), and Mindfulness based interventions, I also use a Biopsychosocial perspective
                where I consider biological and social histories when helping my clients address their challenges. When my client’s gain perspective and understanding of their positions and the emotions that relate to it, they can foster new skills to
                obtain mental and emotional wellness.
            </p>
            <p class="sub-title" id="parent-coaching">Parent Coaching</p>
            <hr class="sub-title-accent">
            <p>Adolescents face many challenges, as they negotiate difficulties the parent/teen relationship can erode making parenting and “teening” strenuous and problematic. As adolescents naturally try to gain independence from their parents, communication
                can break down disabling the parent’s ability to appropriately parent. Whether a child has learning, social or emotional difficulties often there is a need for therapeutic intervention to guide parents in communicating and overseeing the
                needs and safety of their children. As a professional who has worked with parents and adolescents to navigate the difficult teen years I have successfully enhanced parent-teen relationships opening the way for parents to effectively parent.
                I provide parents with powerful tools to help strengthen their adolescent’s self-identity and value system, areas that are often shaken during transitional times of their life. My extensive work in schools, clinical training and experience
                as a parent give me a deep understanding of the parent-adolescent relationship and has made me adept at guiding family members to reconnect with each other.
            </p>
            <p class="sub-title" id="family-therapy">Family Therapy</p>
            <hr class="sub-title-accent">
            <p>Busy family lifestyles, situational stress or even when one family member struggles an entire family can be tipped off balance. My background and education is in Family System Theory, which views the family as an emotional unit where I enter
                the family system in the therapeutic process to understand family rules and relationships. Dysfunctional relationships are identified and disrupted in order to rebuild families to healthy, caring units. Because all family dynamics differ,
                it is important to formulate a plan as unique as the family itself to help clear a path for effective communication. My family therapy interventions may also include guidance on supporting each other, connecting in times of difficulty,
                finding ways to relate to each other, and exploring family boundaries, and roles. Restoring family cohesion is my ultimate goal.
            </p>
        </div>
    </div>
</div>
