<div class="container">
    <div class="row">
        <div class="width-100">
            <div class="page-header services-header">
                <div class="col-md-12">
                <h3 class="page-title">Services</h3>
            </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
                <h4 class="large-title">Adolescents</h4>
                <hr class="large-title-line">
                <p class="p-content">In my practice, I hold the client-therapist relationship in the highest regard where a safe space is created for adolescents and they enjoy our sessions. Resiliency is most likely to be fostered in youth when they are able to use their own strengths to develop tools, unique to them, to face adversity. The young clients I work with quickly understand that by virtue of my work experience I am immersed in their world and that without judgement understand their issues. Through my understanding, I can guide them to discuss their feelings and develop strategies to effectively navigate their world.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <h4 class="large-title">Students with Learning Challenges</h4>
                <hr class="large-title-line">
                <p class="p-content">Having over eight years experience teaching and counseling students with learning disabilities, including ADHD, spectrum and processing disorders, along with holding an Education Specialist Credential, I am able to understand the complications students with learning challenges face social-emotionally and in the classroom. Using psychoeducation as part of my treatment my young clients begin to foster advocacy skills, learning and coping strategies that ultimately boosts their self-esteem. I have been a part of hundreds of interdisciplinary teams that have created and implemented support, including IEP’s and behavior plans, creating successful social and learning outcomes.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <h4 class="large-title">Adults</h4>
                <hr class="large-title-line">
                <p class="p-content">Emphasizing individual strengths in psychotherapy makes for a powerful tool for positive change. Although I assist my clients in using their strengths as a means to cope and gain practical skills, I tailor my treatment plan for each individual to advance their healing process. I have an eclectic background in CBT (Cognitive Behavioral Therapy), DBT (Dialectic Behavior Therapy), and Mindfulness based interventions I also use a Biopsychosocial perspective where I consider biological and social histories when helping my clients address and manage their challenges. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <h4 class="large-title">Parent Coaching</h4>
                <hr class="large-title-line">
                <p class="p-content">Adolescents face many challenges, as they negotiate difficulties the parent/teen relationship can erode making parenting and “teening” strenuous and problematic. Naturally adolescents try to gain independence from their parents, during this time communication can break down, disabling the parent’s ability to appropriately parent. Enhancing parent-teen relationships opens the way for parents to effectively parent. I provide parents with powerful tools to help strengthen their adolescent’s self-identity and value system, areas that are often shaken during transitional times of their life.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <h4 class="large-title">Family Therapy</h4>
                <hr class="large-title-line">
                <p class="p-content">Busy family lifestyles, situational stress or even when one family member struggles an entire family can be tipped off balance. Because no two families are the same, each family’s treatment plan will differ. My interventions are individualized to meet the needs of the family’s I treat, and include guidance on supporting each other, connecting in times of difficulty, finding ways to relate to each other, and exploring family boundaries, rules, and roles. Restoring family cohesion is my ultimate goal.</p>
        </div>
    </div>
</div>
