body {
    padding-top: 0 !important;
    font-family: 'PT Serif', serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2rem;
}

p {
    margin-bottom: unset;
}


/****** MAIN CSS ******/

.index-header {
    height: auto;
    background: /* top, transparent red, faked with gradient */
    linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), /* bottom, image */
    url('../images/flowers.jpg');
    background-size: 100% auto;
    background-position: middle;
}


/***** NAV BAR CSS *****/

.nav-link {
    border-bottom: 2px solid transparent;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .055em;
    color: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    border-bottom: 2.5px solid #5E9ABD;
    height: 30px;
}

@media screen and (max-width: 767px) {
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        border-bottom: unset;
        height: unset;
    }
    .navbar-title {
        display: inline-block;
        padding-top: 10px;
    }
}

.navbar-light .navbar-toggler {
    border: none;
    float: right;
}

.navbar-header {
    width: 100%;
}

.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    justify-content: left;
}

.nav-link:hover {
    color: black !important;
}

.navbar-nav .nav-link {
    text-align: left;
}

.navbar-title {
    font-size: 18px;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .035em;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-title:hover {
    text-decoration: none;
    color: black;
}

.navbar {
    border-bottom: 1px solid lightgrey;
}


/***** ALL PAGES *****/

.container {
    max-width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
}


/****** CONTACT PAGE *******/

.contact-info {
    margin-top: 55px;
    padding-left: 30px;
}

label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    margin-top: 15px;
}

textarea {
    width: 100%;
    height: auto;
    font-size: 15px;
    line-height: 1.8em;
    min-height: 9em;
}

.form-field {
    display: block;
}

.contact-name {
    font-size: 25px;
    line-height: 1.3em;
    color: #1f4164;
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
}

.contact-form {
    width: 100%;
}

.phone-number {
    color: #66808d;
    font-size: 18px;
}

.email a {
    color: #1f4164;
    text-decoration: underline;
    font-size: 18px;
}

.email a:hover {
    color: black;
    text-decoration: underline;
}

.field-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 10px;
    font-size: 19px;
    line-height: 20px;
    color: #96744e;
    background-color: #fff;
    background-image: none;
    border: 1px solid;
    border-color: #8e8e8e;
    border-radius: 0;
    outline: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input.submit-btn {
    background: #5E9ABD;
    margin-top: 30px;
    padding: 10px 40px 10px 40px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .143em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6)
    border: unset;
}

input.submit-btn:hover {
    color: black;
}


/***** LAYOUT CSS *****/

.col-md-12 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

body {
    font-size: 15px;
    letter-spacing: .035em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}


/***** PAGE COMPONENTS ******/

.large-title {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 60px;
}

hr.large-title-line {
    width: 70px;
    border: 2.5px solid #5E9ABD;
    margin-left: 0px;
}

.medium-title {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 60px;
    font-size: 18px;
    margin-bottom: 20px;
}

.small-title {
    font-size: 15px;
    color: black;
    margin-top: 20px;
    line-height: 2;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
}


/***** PAGE HEADER CSS *****/

.page-header {
    color: white;
    padding-top: 200px;
    padding-bottom: 120px;
    text-align: center;
}

h3.page-title {
    border: 3px solid white;
    padding: 10px 30px;
    display: inline-block;
    letter-spacing: .107em;
    font-weight: 700;
    font-size: 23px;
    text-transform: lowercase;
}

.width-100 {
    width: 100%;
}


/***** SERVICES CSS *****/

.p-content {
    font-weight: 400;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.5);
}

.services-header {
    height: auto;
    background: /* top, transparent red, faked with gradient */
    linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), /* bottom, image */
    url('../images/fog-mt-tam.jpg');
    background-size: 100% auto;
    background-position: bottom;
}

@media screen and (max-width: 555px) {
    .services-header {
        background-size: auto 100%;
    }
}


/***** ABOUT CSS *****/

hr.about-line {
    width: 70px;
    border: 2.5px solid #5E9ABD;
    margin-left: 0px;
}

.about-header {
    height: auto;
    background: /* top, transparent red, faked with gradient */
    linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), /* bottom, image */
    url('../images/flowers.jpg');
    background-size: 100% auto;
    background-position: middle;
}

.year {
    padding-right: 30px;
    color: darkgrey;
}

.education-list p {
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.training-list p {
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.membership-list p {
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.about-main-description {
    font-weight: 300;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    padding-bottom: 20px;
}

.about-picture {
    width: 100%;
}

.about-pictures {
    padding-top: 50px;
}

@media screen and (max-width: 767px) {
    .about-picture {
        padding-top: 30px;
    }
}

@media screen and (max-width: 465px) {
    .about-header {
        background-size: auto 100%;
    }
}

@media screen and (max-width: 767px) {
    .year {
        display: block;
    }
}


/****** CONTACT CSS ******/

.contact-header {
    height: auto;
    background: /* top, transparent red, faked with gradient */
    linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), /* bottom, image */
    url('../images/sunset.jpg');
    background-size: 100% auto;
    background-position: middle;
}

@media screen and (max-width: 485px) {
    .contact-header {
        background-size: auto 100%;
    }
}

.contact-info p a {
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
    .contact-form {
        padding-left: 40px;
        padding-right: 40px;
    }
}


/****** INDEX CSS ******/

.index-header {
    height: auto;
    background: /* top, transparent red, faked with gradient */
    linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), /* bottom, image */
    url('../images/tam.jpg');
    background-size: 100% auto;
    background-position: top;
    padding-top: 250px;
    padding-bottom: 200px;
    margin-bottom: 60px;
}

@media screen and (max-width: 950px) {
    .index-header {
        background-size: auto 100%;
    }
}

@media screen and (max-width: 600px) {
    .index-header {
        padding-top: 150px;
        padding-bottom: 100px;
    }
}

.quote {
    font-weight: 300;
    line-height: 52px;
    letter-spacing: .032em;
    text-align: left;
}

.quote-author {
    text-align: left;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .1em;
    margin-top: 20px;
}
